@{
    ViewData["Title"] = "Перевірка email";
    Layout = "_AccountLayout";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Лист підтвердження надіслано. Будь ласка, перевірте ваш email.
    </p>
</div>

