@{
    ViewData["Title"] = "Підтвердження email";
    Layout = "_AccountLayout";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Дякуємо за підтвердження вашого email. Поверніться до EasyJob, щоб увійти
    </p>
</div>

