@{
    ViewData["Title"] = "Підтвердження скидання пароля";
    Layout = "_AccountLayout";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ваш пароль скинуто. Будь ласка, <a asp-action="Login">натисніть тут, щоб увійти</a>.
</p>
